@*@model ToDoApp.Web.ViewModels.IndexViewModel*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="#/task" class="navbar-brand" aria-label="Go to all tasks">Task Manager</a>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="jumbotron">
            <h2>Task manager by: </h2>
            <input id="users-dropdown">
            <a href="#/task/create" class="btn btn-primary">Create Task</a>
        </div>

        <script id="all-tasks-template" type="text/x-kendo-template">
            <div id="all-tasks-view" class="row">
                <h2 data-bind="text: title"></h2>
                <div id="all-tasks"></div>
            </div>
        </script>
        <script id="create-task-template" type="text/x-kendo-template">
            <div id="create-task-view" class="row">
                <h2>Create Task</h2>
                <form id="create-task"></form>
            </div>
        </script>
        <script id="edit-tasks-template" type="text/x-kendo-template">
            <div id="edit-task-view" class="row">
                <h2>Edit Task</h2>
                <form id="edit-task"></form>
            </div>
        </script>

        <div id="app"></div>
        <hr/>

        <footer>
            <p>&copy; @DateTime.Now.Year. All your base are belong to us.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/kendoJs")
    @Styles.Render("~/Content/kendoCss")
    @Scripts.Render("~/bundles/bootstrap")
    <script data-main="assets/js/requireConfig.js" src="~/assets/js/require.js"></script>
    @*<link href="https://kendo.cdn.telerik.com/2022.2.802/styles/kendo.default-main.min.css" rel="stylesheet" />
        <script src="https://kendo.cdn.telerik.com/2022.2.802/js/kendo.all.min.js"></script>*@
    <script>
        $(document).ready(function () {
            require(['app'], function (app) {
                app.start();
            });
        });
    </script>
</body>
</html>
